@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "Light";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #ffffff;
  --color-base-content: #444444;

  --color-primary: #2d3e50;

  --color-secondary: #fba933;
}

body {
  font-family: arimo, sans-serif;
}
